---
name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}

      - name: test and install local build
        run: |
          cmake -S test -B build/local
          cmake --build build/local
          ./build/local/test
          sudo cmake --build build/local --target install

      - name: test installed build
        run: |
          cmake -S test -B build/installed -D TEST_INSTALLED_VERSION=1
          cmake --build build/installed
          cmake --build build/installed --target test
          ./build/installed/main
